fastapi
uvicorn
python-multipart
opencv-python
# We need Numpy < 2.0 because TensorFlow 2.12 doesn't support the new Numpy yet
numpy<2.0.0
# The specific version of TF that works with Teachable Machine models
tensorflow==2.12.0
# Standard MediaPipe
mediapipe==0.10.5
# Pinning protobuf prevents crashes between TF and MediaPipe
protobuf==3.20.3